<footer>
  <p class="muted small">
    © {% year %} | <a class="muted" href="https://twitter.com/mrroryflint">@MrRoryFlint</a> | <a class="muted" href="/feed.xml">RSS</a> | <a class="muted" href="/email">Newsletter</a>
  </p>
</footer>
