<script async src="https://analytics.umami.is/script.js" data-website-id="360e23fb-dc51-4801-8584-453e13c2442c"></script>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>{{ title or metadata.title }}</title>
<meta name="description" content="{{ description or metadata.description }}" />
<meta name="author" content="{{ metadata.author or 'Rory Flint' }}" /> {# Assuming you might add author to metadata.json #}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="{{ og_type or 'website' }}" />
<meta property="og:site_name" content="{{ metadata.title }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:title" content="{{ title or metadata.title }}" />
<meta property="og:description" content="{{ description or metadata.description }}" />
<meta property="og:url" content="{{ metadata.url }}{{ page.url | url }}" /> {# page.url is already the full path from site root, |url filter is good practice #}
{% ogImage "_includes/og/og-image.njk", { title: title or metadata.title } %}

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@mrroryflint" /> {# Or {{ metadata.twitter_handle }} #}
<meta name="twitter:creator" content="@mrroryflint" /> {# Or {{ metadata.twitter_handle }} #}
<meta name="twitter:title" content="{{ title or metadata.title }}" />
<meta name="twitter:description" content="{{ description or metadata.description }}" />
<meta name="twitter:image" content="{{ metadata.url }}{{ ogImage._ogImagePath }}" />

{% if page.url %}
<link rel="canonical" href="{{ metadata.url }}{{ page.url | url }}" />
{% endif %}

<link rel="icon" href="{{ '/assets/32.png' | url }}" sizes="32x32">
<link rel="icon" href="{{ '/assets/192.png' | url }}" sizes="192x192">
<link rel="icon" href="{{ '/assets/favicon.ico' | url }}" type="image/x-icon" />

<link rel="stylesheet" href="{{ '/css/styles.css' | url }}">

<script>
    const isDarkMode = () => localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches);
    if (isDarkMode()) {
    document.documentElement.classList.add('dark')
    } else {
    document.documentElement.classList.remove('dark')
    }
</script>
