<head>
  <meta content="text/html; charset=UTF-8" name="Content-Type" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="Portfolio and writing of Software Developer Rory Flint" />
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
  <title>{{ title }} - Rory Flint</title>  
  <link rel="stylesheet" href="{{ '/css/styles.css' }}">
</head>
