<head>
<script async src="https://analytics.umami.is/script.js" data-website-id="360e23fb-dc51-4801-8584-453e13c2442c"></script>
  <meta content="text/html; charset=UTF-8" name="Content-Type" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width" />

  <meta property="og:site_name" content="{{ title }}" />
  <meta property="og:locale" content="en_US" />

  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="article" />
{% if description %}
  <meta property="og:description" content="{{ description }}" />
    <meta name="description" content="{{ description }}" />
  {% else %}
    <meta name="description" content="Portfolio and writing of Software Developer Rory Flint" />
  <meta property="og:description" content="Portfolio and writing of Software Developer Rory Flint" />
{% endif %}


  <meta property="og:image" content="/assets/192.png" />

    <meta property="og:url" content="https://rory.codes" />
    <link rel="canonical" href="https://rory.codes" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:image" content="https://rory.codes/assets/192.png" />
  <meta name="twitter:site" content="@mrroryflint" />
  <meta name="twitter:creator" content="@mrroryflint" />

  <link rel="icon" href="/assets/32.png" sizes="32x32">
  <link rel="icon" href="/assets/192.png"sizes="192x192"> 

  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />  
  <title>{{ title }} - Rory Flint</title>  
  <link rel="stylesheet" href="{{ '/css/styles.css' }}">
</head>
