{% extends "base.njk" %}
{% block main %}
<header>
  <h1>{{ main }}</h1>
</header>
{{ content | safe}}
<hr />
<h2>Projects</h2>
<ul>
  {% for portfolio in collections.portfolio  %}
  <li>
    <a class="post-link" href="{{ portfolio.url }}">{{ portfolio.data.title }}</a> -
    {{portfolio.data.summary}}
  </li>
  {% endfor %}
</ul>

<h2>Writing</h2>
<ul>
  {% for post in collections.post | reverse %}
  <li><a class="post-link" href="{{ post.url }}">{{ post.data.title }}</a></li>
  {% endfor  %}
</ul>

<h2>Other</h2>
<ul>
  <li><a class="post-link" href="/books">What I'm Reading</a></li>
  <li><a class="post-link" href="https://www.instagram.com/mrroryflint/">Photography</a></li>
</ul>
{% endblock %}
