{% extends "base.njk" %}
{% block main %}
<header>
  <h1>{{ main }}<span id="toggleDarkMode">*</span></h1>
</header>
{{ content | safe}}
<hr />
<h2>Projects</h2>
<ul>
  {% for item in portfolio  %}
  <li>
    <a class="post-link" href="{{ item.url }}" target="_blank ">{{ item.title }}</a> -
    {{item.description}}
  </li>
  {% endfor %}
</ul>

<h2>Writing</h2>
<ul>
  {% for post in collections.post | reverse %}
  <li><a class="post-link" href="{{ post.url }}">{{ post.data.title }}</a></li>
  {% endfor  %}
</ul>
{% endblock %}
