{% extends "base.njk" %}
{% block main %}
<a class="muted small" href="/">← rory flint</a>
<h1>{{ title }}</h1>
<a class="port-link" href="{{ deployed }}" target="_blank" rel="noopener noreferrer" `>Deployed</a>
{{ content | safe }}
{% endblock %}
